.card {
  display: flex;
  width: 256px;
  height:357px;
  
}
.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card button {
  background: #FF8A00;
  box-shadow: 0px 4px 10px 0px #FFAD4D inset;
  border: none;
  border-radius: 3px;
}

.card-body {
  padding: 10px;
}
.card-body button {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  height: 46px;
}
.star {
  padding-bottom: 25px;
}