.carousel div{
  background-color: rgb(224, 222, 222);
  Width: 1140px;
  Height: 380px;
}
.carousel {
  display: flex;
  width: 100%;
  justify-content: center;
}

img {
  width: 100%;
  background-size: cover;
}